<div class="col-lg-1"></div>
  <div class="col-lg-10">
    <table class="table table-striped" *ngIf="players" id="listing">
      <thead>
      <tr>
        <th></th>
        <th>Nom</th>
        <th>Classement</th>
        <th>Entraînements dirigés</th>
        <th>Équipes</th>
        <th>Vendredi soir</th>
        <th>Samedi PM</th>
        <th>Samedi soir</th>
        <th>Chauffeur</th>
        <th>Réserve</th>
        <th>Remarques</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let player of players | sort:'ranking'; index as i">
        <td>{{i + 1}}</td>
        <td><a routerLink="/players/{{player.id}}">{{player.lastName}} {{player.firstName}}</a></td>
        <td>{{player.ranking}}</td>
        <td contenteditable="true" (focus)="edit($event)"
            (focusout)="focusout(i, player.id, 'training', $event)">{{player.training}}</td>
        <td contenteditable="true" (focus)="edit($event)"
            (focusout)="focusout(i, player.id, 'teams', $event)">{{player.teams}}</td>
        <td contenteditable="true" (focus)="edit($event)"
            (focusout)="focusout(i, player.id, 'fridayEvening', $event)">{{player.fridayEvening}}</td>
        <td contenteditable="true" (focus)="edit($event)"
            (focusout)="focusout(i, player.id, 'saturdayAfternoon', $event)">{{player.saturdayAfternoon}}</td>
        <td contenteditable="true" (focus)="edit($event)"
            (focusout)="focusout(i, player.id, 'saturdayEvening', $event)">{{player.saturdayEvening}}</td>
        <td contenteditable="true" (focus)="edit($event)"
            (focusout)="focusout(i, player.id, 'driver', $event)">{{player.driver}}</td>
        <td contenteditable="true" (focus)="edit($event)"
            (focusout)="focusout(i, player.id, 'backup', $event)">{{player.backup}}</td>
        <td contenteditable="true" (focus)="edit($event)"
            (focusout)="focusout(i, player.id, 'remarks', $event)">{{player.remarks}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-1"></div>
