/*.table {*/
  /*background-color: #e6e6e6;*/
/*}*/
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #F8F8F8;
}
.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
  background-color: #F0F0F0;
}
th, td {
  text-align: center;
}
.editable {
  background-color: white !important;
}
