<div *ngIf="headers && series">
  <div *ngFor="let serie of series | keyvalue">
    <h4>{{serie.key}}</h4>
    <table class="table">
      <thead>
      <tr>
        <th *ngFor="let header of headers">{{header}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let player of serie.value; index as i">
        <td>{{player.id}}</td>
        <td>{{player.lastName}}</td>
        <td>{{player.firstName}}</td>
        <td>{{player.ranking}}</td>
        <td>
          <select class="custom-select" (change)="divisionChanged(serie.key, i, $event)">
            <option *ngFor="let serie2 of series | keyvalue" value="{{serie2.key}}"
                    [defaultSelected]="serie2.key == serie.key">{{serie2.key}}</option>
          </select>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
