<select class="custom-select" *ngIf="players" [formControl]="control">
  <option [value]="player.id"
          *ngFor="let player of possiblePlayers">{{player.index}} {{player.firstName}} {{player.lastName|uppercase}}
    ({{player.ranking}})
  </option>
</select>
