<table class="table table-striped">
  <thead>
  <tr>
    <th>Semaine</th>
    <th>Date</th>
    <th>#</th>
    <th>Match</th>
    <th>Score</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let match of matches">
    <td>{{match.WeekName}}</td>
    <td>{{match.Date}}</td>
    <td>{{match.MatchId}}</td>
    <td>{{match.HomeTeam}} - {{match.AwayTeam}}</td>
    <td *ngIf="match.MatchUniqueId"><a routerLink="/interclubs/{{match.MatchUniqueId}}">{{match.Score}}</a></td>
    <td *ngIf="!match.MatchUniqueId"></td>
  </tr>
  </tbody>
</table>
