<div>
  <h3>Étape 1 : uploader un fichier contenant la liste des joueurs</h3>
  <span class="btn btn-info btn-file">
      Choisir un fichier CSV
      <input type="file" class="upload btn btn-info" (change)="changeListener($event.target.files)">
    </span>
</div>
