<form [formGroup]="form">
  <div class="modal-header align-items-center">
    <h4>{{absence.player.firstName}} {{absence.player.lastName|uppercase}}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="delete(absence.id)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>Prévenu le</th>
      <th>Via</th>
      <th>Raison</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td [contentEditable]="true" (focus)="edit($event)"
          (focusout)="focusout('informedDate', $event)">{{absence.informedDate|date:shortDate}}</td>
      <td [contentEditable]="true" (focus)="edit($event)"
          (focusout)="focusout('informedMethod', $event)">{{absence.informedMethod}}</td>
      <td [contentEditable]="true" (focus)="edit($event)"
          (focusout)="focusout('reason', $event)">{{absence.reason}}</td>
    </tr>
    </tbody>
  </table>
</form>
