<div class="container">
  <form *ngIf="player" [formGroup]="form">
    <div class="row">
      <div class="form-group col-3">
        <label class="badge" for="id">Numéro d'affiliation</label>
        <input class="form-control" id="id" type="text" value="{{id}}" [formControl]="form.controls['id']">
      </div>
      <div class="form-group col-4">
        <label class="badge" for="firstName">Prenom</label>
        <input class="form-control" id="firstName" type="text" value="{{player.firstName}}"
               [formControl]="form.controls['firstName']">
      </div>
      <div class="form-group col-4">
        <label class="badge" for="lastName">Nom</label>
        <input class="form-control" id="lastName" type="text" value="{{player.lastName}}"
               [formControl]="form.controls['lastName']">
      </div>
      <div class="form-group col-1">
        <label class="badge" for="ranking">Classement</label>
        <input class="form-control" id="ranking" type="text" value="{{player.ranking}}"
               [formControl]="form.controls['ranking']">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-2">
        <label class="badge" for="training">Entraînements</label>
        <input class="form-control" id="training" type="text" value="{{player.training}}"
               [formControl]="form.controls['training']">
      </div>
      <div class="form-group col-1">
        <label class="badge" for="teams">Équipes</label>
        <input class="form-control" id="teams" type="text" value="{{player.teams}}"
               [formControl]="form.controls['teams']">
      </div>
      <div class="form-group col-2">
        <label class="badge" for="fridayEvening">Vendredi soir</label>
        <input class="form-control" id="fridayEvening" type="text" value="{{player.fridayEvening}}"
               [formControl]="form.controls['fridayEvening']">
      </div>
      <div class="form-group col-2">
        <label class="badge" for="saturdayAfternoon">Samedi après-midi</label>
        <input class="form-control" id="saturdayAfternoon" type="text" value="{{player.saturdayAfternoon}}"
               [formControl]="form.controls['saturdayAfternoon']">
      </div>
      <div class="form-group col-2">
        <label class="badge" for="saturdayEvening">Samedi soir</label>
        <input class="form-control" id="saturdayEvening" type="text" value="{{player.saturdayEvening}}"
               [formControl]="form.controls['saturdayEvening']">
      </div>
      <div class="form-grou col-2">
        <label class="badge" for="driver">Chauffeur</label>
        <input class="form-control" id="driver" type="text" value="{{player.driver}}"
               [formControl]="form.controls['driver']">
      </div>
      <div class="form-check col-1">
        <input class="form-check-input" id="backup" type="checkbox" [checked]="player.backup === 1"
               [formControl]="form.controls['backup']">
        <label class="form-check-label badge" for="backup">Réserve</label>
      </div>
    </div>
    <input class="btn btn-outline-info" type="submit" value="Modifier" (click)="updatePlayer()"
           [disabled]="form.invalid">
  </form>
</div>
