<div class="container">
  <div class="form-group d-flex flex-row align-items-center">
    <label class="badge" for="daySelect">Journée : </label>
    <select class="custom-select custom-select-sm col-lg-1" id="daySelect" *ngIf="days && absences"
            [(ngModel)]="weekDay" (ngModelChange)="dayChanged()">
      <option *ngFor="let day of days">{{day}}</option>
    </select>
  </div>
  <h3>Absents</h3>
  <div class="row" *ngIf="dayAbsences">
    <app-absence class="col-lg-4 d-flex flex-column border" *ngFor="let absence of dayAbsences; index as i"
                 [absence]="absence" [index]="i" (deleted)="onDeleted($event)"></app-absence>
    <app-new-absence class="col-lg-4 d-flex flex-column border" [wDay]="weekDay"
                     (added)="onAdded($event)"></app-new-absence>
  </div>
</div>
