<div class="container">
  <app-settings *ngIf="fileLoaded === false" [fileLoaded]="fileLoaded"></app-settings>
  <app-player-serie-adjuster *ngIf="fileLoaded === true && series" [series]="series"></app-player-serie-adjuster>
</div>

