td, th {
  text-align: center !important;
}
.sheet {
  width: 297mm !important;
  height: 210mm !important;
}
.title {
  font-size: 24px !important;
}
.input {
  font-size: 16px !important;
}
.fs-11 {
  font-size: 11px !important;
}
.fs-14 {
  font-size: 14px !important;
}
.bold {
  font-weight: bold !important;
}
* {
  font-family: 'Calibri', Calibri, sans-serif !important;
  font-size: 12px !important;
}
.border-2 {
  border-width: 2px !important;
}
.border-3 {
  border-width: 3px !important;
}
.p-3 {
  padding: 0 3px 0 3px !important;
}
.p-5 {
  padding: 0 5px 0 5px !important;
}
.p-30 {
  padding: 0 30px 0 30px !important;
}
.p-10 {
  padding: 0 10px 0 10px !important;
}
.pb-5 {
  padding-bottom: 5px !important;
}
.pt-5 {
  padding-top: 5px !important;
}
.pl-5 {
  padding-left: 5px !important;
}
.pr-5 {
  padding-right: 5px !important;
}
.pl-10 {
  padding-left: 10px !important;
}
.pr-10 {
  padding-right: 10px !important;
}
.pl-20 {
  padding-left: 20px !important;
}
.ml-5 {
  margin-left : 5px !important;
}
.mr-5 {
  margin-right : 5px !important;
}
.mt-15 {
  margin-top : 15px !important;
}
.mb-15 {
  margin-bottom : 15px !important;
}
.ml-m10 {
  margin-left : -10px !important;
}
.ml-m20 {
  margin-left : -20px !important;
}
.h-33 {
  height: 33px !important;
}
.h-31 {
  height: 31px !important;
}
.h-22 {
  height: 22px !important;
}
.h-20 {
  height: 20px !important;
}
.h-19 {
  height: 19px !important;
}
.h-18 {
  height: 18px !important;
}
.h-17 {
  height: 17px !important;
}
.lh-17 {
  line-height: 17px !important;
}
.lh-16 {
  line-height: 16px !important;
}
.border-right-2 {
  border-right: 2px solid !important;
}
.border-bottom-2 {
  border-bottom: 2px solid !important;
}
.border-bottom-1 {
  border-bottom: 1px solid !important;
}
label {
  margin-bottom: 0 !important;
}
table {
  /*table-layout: fixed;*/
  width: 100% !important;
}
td {
  padding: 0 !important;
  text-align: left !important;
}
.w-48 {
  width: 48px !important;
}
.w-28 {
  width: 28px !important;
}
.w-142 {
  width: 142px !important;
}
.w-137 {
  width: 137px !important;
}
.w-41 {
  width: 41px !important;
}
.w-42 {
  width: 42px !important;
}
.w-128 {
  width: 128px !important;
}
.w-123 {
  width: 123px !important;
}
.w-69 {
  width: 69px !important;
}
.w-96 {
  width: 96px !important;
}
.w-20 {
  width: 20px !important;
}
.w-45 {
  width: 45px !important;
}
.w-64 {
  width: 64px !important;
}
.w-95 {
  width: 95px !important;
}
.w-37 {
  width: 37px !important;
}
.w-111 {
  width: 111px !important;
}
.w-292 {
  width: 292px !important;
}
.w-205 {
  width: 205px !important;
}
.text-align-center {
  text-align: center !important;
}
.text-align-right {
  text-align: right !important;
}
.vertical-align-sub {
  vertical-align: sub;
}
input[type="radio"] {
  width: 13px !important;
  height: 13px !important;
}
input[type=date] {
  line-height: 12px;
}
input {
  /*Will be changed via Javascript*/
  width: 1px;
  height: 1px;
}
.inline-block {
  display: inline-block;
}
.editable {
  background-color: white !important;
}

.yellow {
  background-color: #ffffbf !important;
}

.pink {
  background-color: #ffe2d9 !important;
}

.green {
  background-color: #6bffb5 !important;
}
