<div class="container">
  <div class="sheet" [ngClass]="{'yellow': r < 1/3, 'pink': r >= 1/3 && r < 2/3, 'green': r >= 2/3 && r < 1}" *ngIf="interclubs">
    <div class="col-lg-12 d-flex flex-row justify-content-center p-30 mt-15 mb-15">
    </div>
    <div class="col-lg-12 d-flex flex-row justify-content-center p-30 mt-15 mb-15 title bold">
      ASBL AILE FRANCOPHONE DE LA FEDERATION ROYALE BELGE DE TENNIS DE TABLE
    </div>
    <div class="col-lg-12 d-flex flex-row p-30 mt-15 mb-15">
      <div class="col-lg-5 d-flex flex-row border border-2 border-dark pl-5 pr-10">
        <table>
          <tr class="h-18">
            <td class="h-18 w-48">Local</td>
            <td class="border-bottom border-dark m-10 pl-10 h-18 ln-17">
              <span *ngIf="interclubs.venue">{{ interclubs.venue.building|uppercase }}</span>
            </td>
          </tr>
          <tr class="h-18">
            <td class="h-18 w-48">Adresse</td>
            <td class="border-bottom border-dark m-10 pl-10 h-18 ln-17">
              <span *ngIf="interclubs.venue">{{ interclubs.venue.address }}</span>
            </td>
          </tr>
          <tr class="h-18">
            <td class="h-18 w-48">Localité</td>
            <td class="border-bottom border-dark m-10 pl-10 h-18 ln-17">
            <span
              *ngIf="interclubs.venue">{{ interclubs.venue.city.postalCode }} {{ interclubs.venue.city.name|uppercase }}</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-lg-3 d-flex flex-row p-0 pb-5">
        <div class="col-lg-6 pl-10 pr-5">
          <table class="border border-2 border-dark p-0">
            <tr>
              <td class="w-20 text-align-center p-0 border border-dark justify-content-center">
              <span *ngIf="interclubs.league && interclubs.league.category">
                {{ (interclubs.league.category.name === 'Messieurs') ? 'X' : '' }}
              </span>
              </td>
              <td class="w-95 p-5 border border-dark">Messieurs</td>
            </tr>
            <tr>
              <td class="w-20 text-align-center p-0 border border-dark justify-content-center">
              <span *ngIf="interclubs.league && interclubs.league.category">
                {{ (['Dames', 'Vétérans'].includes(interclubs.league.category.name)) ? 'X' : '' }}
              </span>
              </td>
              <td class="w-95 p-5 border border-dark">Dames/Vétérans</td>
            </tr>
            <tr>
              <td class="w-20 text-align-center p-0 border border-dark justify-content-center">
              <span *ngIf="interclubs.league && interclubs.league.category">
                {{ (interclubs.league.category.name == 'Jeunes') ? 'X' : '' }}
              </span>
              </td>
              <td class="w-95 p-5 border border-dark">Jeunes</td>
            </tr>
          </table>
        </div>
        <div class="col-lg-6 pl-5 pr-10">
          <table class="border border-2 border-dark p-0">
            <tr>
              <td class="w-20 text-align-center p-0 border border-dark justify-content-center">
              <span *ngIf="interclubs.league && interclubs.league.category">
                {{ (interclubs.league.category.name == 'Superdivision') ? 'X' : '' }}
              </span>
              </td>
              <td class="w-95 p-5 border border-dark">Superdivision</td>
            </tr>
            <tr>
              <td class="w-20 text-align-center p-0 border border-dark justify-content-center">
              <span *ngIf="interclubs.league && interclubs.league.category">
                {{ (interclubs.league.category.name == 'Coupe messieurs') ? 'X' : '' }}
              </span>
              </td>
              <td class="w-95 p-5 border border-dark ">Coupe messieurs</td>
            </tr>
            <tr>
              <td class="w-20 text-align-center p-0 border border-dark justify-content-center">
              <span *ngIf="interclubs.league && interclubs.league.category">
                {{ (interclubs.league.category.name == 'Coupe dames') ? 'X' : '' }}
              </span>
              </td>
              <td class="w-95 p-5 border border-dark">Coupe dames</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-lg-4 d-flex flex-row border border-2 border-dark p-0 pb-5">
        <div class="col-lg-6 d-flex flex-column p-0 pl-5">
          <table>
            <tr class="d-flex flex-row">
              <td class="w-28 p-0 h-18">Date</td>
              <td class="w-142 text-align-center border-bottom border-dark p-0 h-18">
                <span *ngIf="interclubs.date">{{ interclubs.date|date:'dd-MM-yyyy' }}</span>
              </td>
            </tr>
            <tr class="d-flex flex-row">
              <td class="w-42 p-0 h-18">Division</td>
              <td class="w-128 text-align-center border-bottom border-dark p-0 h-18">
                <span *ngIf="interclubs.league">{{ interclubs.league.division }}</span>
              </td>
            </tr>
            <tr class="d-flex flex-row">
              <td class="w-128 p-0 h-18">Heure de début de match</td>
              <td class="w-42 text-align-center border-bottom border-dark p-0 h-18">{{ interclubs.startTime }}</td>
            </tr>
          </table>
        </div>
        <div class="col-lg-6 d-flex flex-column p-5">
          <table>
            <tr class="d-flex flex-row">
              <td class="w-69 p-0 h-18">N° de match</td>
              <td class="w-96 text-align-center border-bottom border-dark p-0 h-18">{{ interclubs.interclubsNb }}</td>
            </tr>
            <tr class="d-flex flex-row">
              <td class="w-28 p-0 h-18">Série</td>
              <td class="w-137 text-align-center border-bottom border-dark p-0 h-18">
                <span *ngIf="interclubs.league">{{ interclubs.league.serie }}</span>
              </td>
            </tr>
            <tr class="d-flex flex-row">
              <td class="w-123 p-0 h-18">Heure de fin de match</td>
              <td class="w-42 text-align-center border-bottom border-dark p-0 h-18" contenteditable="true"
                  (focus)="editEndTime($event)" (focusout)="focusoutEndTime($event)">{{ interclubs.endTime }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-12 d-flex flex-row p-30 mt-15">
      <div class="col-lg-5 d-flex flex-column p-0">
        <table class="mb-15" *ngFor="let selection of interclubs.selections; index as i">
          <tr class="border border-2 border-dark">
            <td class="text-align-center bold" colspan="5">Cercle sportif {{ (i === 0) ? 'visité' : 'visiteur' }}</td>
          </tr>
          <tr class="border border-2 border-dark h-33">
            <td class="text-align-center p-0 bold border border-2 border-dark w-37 h-33">Equipe</td>
            <td class="pl-10 border border-2 border-dark input w-292 h-33">
            <span
              *ngIf="selection.team && selection.team.club">{{ selection.team.club.name|uppercase }} {{ selection.team.letter }}</span>
            </td>
            <td class="border border-2 border-dark h-33" colspan="3">
              <span class="p-3 h-33 bold">Indice :</span>
              <span class="text-align-center pl-20 h-33 input" colspan="2"
                    *ngIf="selection.team && selection.team.club">
              {{ selection.team.club.id }}<!--
         --></span>
            </td>
          </tr>
          <tr class="border border-2 border-dark">
            <td class="p-0 border border-2 border-dark w-37"></td>
            <td class="p-0 border border-2 border-dark w-292"></td>
            <td class="text-align-center p-0 border border-2 border-dark w-37">N° LF</td>
            <td class="text-align-center p-0 border border-2 border-dark w-37">Class.</td>
            <td class="text-align-center p-0 border border-2 border-dark w-37">Vict.</td>
          </tr>
          <tr class="border border-2 border-dark h-33" *ngFor="let player of selection.players, index as j">
            <td class="text-align-center p-0 border border-2 border-dark w-37 h-33">
              {{ positions[i][j] }}<!--
         --></td>
            <td class="pl-10 border border-2 border-dark w-292 h-33 input">
              {{ player.lastName|uppercase }} {{ player.firstName }}<!--
         --></td>
            <td class="text-align-center p-0 border border-2 border-dark w-37 h-33 fs-14">
              {{ player.order }}/{{ player.index }}<!--
         --></td>
            <td class="text-align-center p-0 border border-2 border-dark w-37 h-33 input">
              {{ player.ranking }}<!--
         --></td>
            <td class="text-align-center p-0 border border-2 border-dark w-37 h-33 input">
              {{ player.victories }}<!--
         --></td>
          </tr>
          <tr class="border border-2 border-dark h-33">
            <td class="text-align-center p-0 border border-2 border-dark w-37 h-33">Double</td>
            <td class="pl-10 border border-2 border-dark w-292 h-33"></td>
            <td class="text-align-center p-0 border border-2 border-dark w-37 h-33"></td>
            <td class="text-align-center p-0 border border-2 border-dark w-37 h-33"></td>
            <td class="text-align-center p-0 border border-2 border-dark w-37 h-33 input"></td>
          </tr>
          <tr></tr>
        </table>
      </div>
      <div class="col-lg-2 d-flex flex-row p-0">
        <div class="col-lg-4 d-flex flex-column p-0 pl-10">
          <table class="border border-2 border-dark">
            <tr>
              <td class="text-align-center h-18 bold border border-2 border-dark">Super</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">A-Y</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">B-X</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">C-Z</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">Double</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">A-X</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">C-Y</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">B-Z</td>
            </tr>
          </table>
        </div>
        <div class="col-lg-4 d-flex flex-column p-0 pl-10">
          <table class="border border-2 border-dark">
            <tr>
              <td class="text-align-center h-18 bold border border-2 border-dark">Dames</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">3-2</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">2-1</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">1-3</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">3-1</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">2-3</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">1-2</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">Double</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">3-3</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">2-2</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">1-1</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold border border-bottom-0 border-2 border-dark">Vét.</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold border border-2 border-dark">Jeunes</td>
            </tr>
          </table>
        </div>
        <div class="col-lg-4 d-flex flex-column p-0 pl-10">
          <table class="border border-2 border-dark">
            <tr>
              <td class="text-align-center h-18 bold border border-2 border-dark">Mess.</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">4-2</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">3-1</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">2-4</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">1-3</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">4-1</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">3-2</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">2-3</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">1-4</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">4-3</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">3-4</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">2-1</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">1-2</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">4-4</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">3-3</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">2-2</td>
            </tr>
            <tr>
              <td class="text-align-center h-18 bold">1-1</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-lg-5 d-flex flex-column p-0">
        <div class="d-flex flex-row justify-content-center">
          <div class="col-lg-9 d-flex flex-row p-0">
            <div class="col-lg-1 d-flex flex-row p-0"></div>
            <div class="col-lg-11 d-flex flex-row p-0">
              <div class="col-lg-1 d-flex flex-row p-0">
                <table>
                  <tr>
                    <td class="border-2 border-dark text-align-center w-41 h-22"></td>
                  </tr>
                  <tr *ngFor="let match of matchesArray">
                    <td class="text-align-right pr-5 h-18">{{ match + 1 }}</td>
                  </tr>
                </table>
              </div>
              <div class="col-lg-11 d-flex flex-row p-0">
                <table class="border border-2 border-dark">
                  <tr>
                    <td class="border border-2 border-dark text-align-center bold" colspan="7">Points</td>
                  </tr>
                  <tr *ngFor="let m of matchesArray">
                    <td class="border border-dark text-align-center w-41 h-18 lh-17" *ngFor="let s of setsArray"
                        [contentEditable]="(m >= interclubs.matches.length && s === 0)
                      || (interclubs.matches[m].sets.length === interclubs.matches[m].homeTotal + interclubs.matches[m].awayTotal && s < interclubs.matches[m].sets.length)
                      || (checkValidPreviousSets(interclubs.matches[m], s) && s <= interclubs.matches[m].sets.length
                      && interclubs.matches[m].sets.length < interclubs.matches[m].homeTotal + interclubs.matches[m].awayTotal)"
                        (focus)="edit($event)" (focusout)="focusout(m, s, $event)"><!--
                 --><span *ngIf="(m < interclubs.matches.length && s < interclubs.matches[m].sets.length)"><!--
                   -->{{ interclubs.matches[m].sets[s].homeScore }}-{{ interclubs.matches[m].sets[s].awayScore }}<!--
                 --></span><!--
                 -->
                      <div class="h-17"
                           *ngIf="(m >= interclubs.matches.length || s >= interclubs.matches[m].sets.length)"></div><!--
               --></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="col-lg-3 d-flex flex-row p-0">
            <div class="col-lg-6 d-flex flex-row p-0 pl-5">
              <table class="border border-2 border-dark">
                <tr>
                  <td class="border border-2 border-dark text-align-center bold">Sets</td>
                </tr>
                <tr *ngFor="let match of interclubs.matches">
                  <td class="border border-dark text-align-center h-18 lh-17">
                    {{ match.homeTotal }}-{{ match.awayTotal }}<!--
             --></td>
                </tr>
              </table>
            </div>
            <div class="col-lg-6 d-flex flex-row p-0 pl-5">
              <table class="border border-2 border-dark">
                <tr>
                  <td class="border border-2 border-dark text-align-center bold">Score</td>
                </tr>
                <tr *ngFor="let match of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]">
                  <td class="border border-dark text-align-center h-18 lh-17">
                  <span *ngIf="homeScoreEvolution.hasOwnProperty(match) && awayScoreEvolution.hasOwnProperty(match)">
                    {{ homeScoreEvolution[match] }}-{{ awayScoreEvolution[match] }}<!--
               --></span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row justify-content-center pt-5">
          <div class="col-lg-5 d-flex flex-row p-0"></div>
          <div
            class="col-lg-4 d-flex flex-row justify-content-center align-items-center border border-3 border-dark bold fs-14 p-0">
            RESULTAT FINAL
          </div>
          <div class="col-lg-3 d-flex flex-row p-0">
            <div class="col-lg-6 d-flex flex-row p-0 pl-5">
              <div
                class="col-lg-6 d-flex flex-row justify-content-center align-items-center border border-3 border-dark fs-14 p-0">
                {{ homeTotalSets }}<!--
         --></div>
              <div
                class="col-lg-6 d-flex flex-row justify-content-center align-items-center border border-3 border-left-0 border-dark fs-14 p-0">
                {{ awayTotalSets }}<!--
         --></div>
            </div>
            <div class="col-lg-6 d-flex flex-row p-0 pl-5">
              <div
                class="col-lg-6 d-flex flex-row justify-content-center align-items-center border border-3 border-dark fs-14 p-0">
                {{ homeScoreEvolution[homeScoreEvolution.length - 1] }}<!--
           --></div>
              <div
                class="col-lg-6 d-flex flex-row justify-content-center align-items-center border border-3 border-left-0 border-dark fs-14 p-0">
                {{ awayScoreEvolution[awayScoreEvolution.length - 1] }}<!--
         --></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 d-flex flex-row p-30">
      <div class="col-lg-5 d-flex flex-row border border-2 border-dark p-0">
        <div
          class="col-lg-4 d-flex flex-row justify-content-center align-items-center border-right border-bottom border-2 border-dark bold h-18 p-0">
          REMARQUES EVENTUELLES :<!--
   --></div>
      </div>
      <div class="col-lg-7 d-flex flex-row p-0 pl-10">
        <div class="col-lg-12 d-flex flex-row p-0">
          <table>
            <tr>
              <td class="text-align-center border border-2 border-dark w-292 fs-11">Capitaine visité - Nom, Prénom,
                Signature<!--
         --></td>
              <td class="text-align-center border border-2 border-dark w-292 fs-11">Capitaine visiteur - Nom, Prénom,
                Signature<!--
         --></td>
            </tr>
            <tr>
              <td class="border border-2 border-dark w-292 h-33 pl-10 input">
              <span
                *ngIf="interclubs.homeCaptain">{{ interclubs.homeCaptain.lastName|uppercase }} {{ interclubs.homeCaptain.firstName }}</span>
              </td>
              <td class="border border-2 border-dark w-292 h-33 pl-10 input">
              <span
                *ngIf="interclubs.awayCaptain">{{ interclubs.awayCaptain.lastName|uppercase }} {{ interclubs.awayCaptain.firstName }}</span>
              </td>
            </tr>
            <tr>
              <td class="text-align-center border border-2 border-dark w-292 fs-11">Juge-arbitre - Nom, Prénom,
                Signature
              </td>
              <td class="text-align-center border border-2 border-dark w-292 fs-11">Commissaire de salle - Nom, Prénom,
                Signature
              </td>
            </tr>
            <tr>
              <td class="border border-2 border-dark w-292 h-33 pl-10 input">
              <span
                *ngIf="interclubs.referee">{{ interclubs.referee.lastName|uppercase }} {{ interclubs.referee.firstName }}</span>
              </td>
              <td class="border border-2 border-dark w-292 h-33 pl-10 input"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
