<form [formGroup]="form">
  <div class="form-group"></div>
  <div class="d-flex flex-row form-group">
    <select class="custom-select custom-select-lg" *ngIf="players" [formControl]="form.controls['playerId']">
      <option value="">Nouvelle absence</option>
      <option [value]="players[i].id"
              *ngFor="let player of players; index as i">{{i + 1}} {{player.firstName}} {{player.lastName|uppercase}}</option>
    </select>
  </div>
  <div class="d-flex flex-row form-group">
    <input type="date" class="form-control col-lg-6" [formControl]="form.controls['informedDate']"
           placeholder="Prévenu le :">
    <input type="text" class="form-control col-lg-6" [formControl]="form.controls['informedMethod']"
           placeholder="Via :">
  </div>
  <div class="d-flex flex-row form-group">
    <input type="text" class="form-control col-lg-8" [formControl]="form.controls['reason']"
           placeholder="Raison :">
    <div class="col-lg-1"></div>
    <input class="btn  btn-outline-primary col-lg-3" type="submit" value="Ajouter" (click)="submit()">
  </div>
</form>
