<div class="container">
  <h2>Sélections de la semaine {{weekDay}}</h2>
  <div class="form-group d-flex flex-row align-items-center">
    <label class="badge" for="daySelect">Journée : </label>
    <select class="custom-select custom-select-sm col-lg-1" id="daySelect" *ngIf="days" [(ngModel)]="weekDay"
            (ngModelChange)="dayChanged()">
      <option *ngFor="let day of days">{{day}}</option>
    </select>
    <input class="btn btn-sm btn-outline-success" type="submit" value="Sauver" (click)="saveAll()">
  </div>
  <div class="row" *ngIf="players && selections">
    <app-team-selection class="col-lg-4 d-flex flex-column" *ngFor="let team of teams, index as i" [players]="players"
                        [team]="team" [selections]="selections.controls[i]"></app-team-selection>
  </div>
</div>
