<h5>Équipe {{team.letter}}</h5>
<form [formGroup]="selections">
  <table>
    <thead>

    </thead>
    <tbody>
    <tr *ngFor="let i of [1, 2, 3, 4]">
      <td>{{i}}</td>
      <td>
        <app-player-selector [players]="players" [firstPosition]="teamNumber + i"
                             [control]="selections.controls['player'+ (teamNumber + i) +'Id']"></app-player-selector>
      </td>
    </tr>
    </tbody>
  </table>
</form>
